[user]
    email = stefano@figura.im
    name = returntrip
    signingkey = 0xE8D9210D206385D6
[core]
    editor = io.neovim.nvim
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    path = nvim
[color]
    ui = auto
