# Created by https://www.gitignore.io/api/linux
# Edit at https://www.gitignore.io/?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
.local/share/Trash*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.gitignore.io/api/linux

# dotgit repo init directory
.dotgit

# (Inc/Exc)lude Specifics
.local/share/containers
.local/share/flatpak/*
!.local/share/flatpak/overrides/
.var/app/*
!.var/app/io.neovim.nvim/
.var/app/io.neovim.nvim/*
!.var/app/io.neovim.nvim/config/
.local/lib/python3.8
.cache
.mozilla
Desktop
devel
Documents
Downloads
Games
Music
Nextcloud
Pictures
Public
rpmbuild
Templates
Videos
